<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <script src="https://kit.fontawesome.com/4ee59ba7cc.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/jcubic/static/js/wcwidth.js"></script>
  <script src="https://unpkg.com/jquery.terminal/js/jquery.mousewheel-min.js"></script>
  <script src="https://unpkg.com/js-polyfills/keyboard.js"></script>
  <script src="https://unpkg.com/resize-observer-polyfill@1.5.1/dist/ResizeObserver.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/aaronbarker/css-variables-polyfill@master/css-var-polyfill.js"></script>
  <title>Simple Sidebar - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="static/styles.css" rel="stylesheet" />
  <link href="https://unpkg.com/shell.js@1.0.5/dist/css/shell.min.css" rel="stylesheet" />
  <link href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css" rel="stylesheet" />
  <link href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css" rel="stylesheet" />
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light">Bifrost</div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/config">Config</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/payload">Payload</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/bingus">Bingus</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/logout">Logout</a>
      </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
      <!-- Top navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
          <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#!">Action</a>
                  <a class="dropdown-item" href="#!">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#!">Something else here</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Page content-->
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            {% for agent in agents %}
            <div class="col-sm-3 col-lg-2 mb-2">
              <div class="card mb-2 h-100" id="{{ agent.id }}">
                <script>document.getElementById("{{ agent.id }}").style.backgroundColor = "#00FF00";</script>
                {% if agent.isAlive == False %}
                <script>document.getElementById("{{ agent.id }}").style.backgroundColor = "FF0000";</script>
                {% endif %}
                <div class="card-body">
                  <a class="card-title" href="/bot{{ agent.id }}">{{ agent.ip }}</a>
                  <p class="card-text">
                    Host: {{ agent.hostname }}<br>
                    Session: {{ agent.username }}<br>
                    OS: {{ agent.platform }} {{ agent.os }}<br>
                    Last Seen: {{ agent.lastSeen }}<br>
                    Status: {{ agent.isAlive }}
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="static/scripts.js"></script>
</body>

</html>
